body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #000000;
}
.container {
    max-width: 1500px;
    margin: 40px auto;
    background: #f1f1f1;
    padding: 30px;
    box-shadow: 0 0 10px rgba(10,10,10,10);
    border-radius: 10px;
    text-align: center;
}

li {
    list-style-type: none;
    padding: 0;
}

.ex ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.ex ul li {
    color: #fff;
    font-size: 16px;
    background: #424141;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 500;
}

/* LADO ESQUERDO */
section {    
    display: block;
    width: 50%;
    float: left;
    border-right: 2px solid #838080;
    padding: 15px;
}


/* LADO DIREITO */
aside {
    display: block;
    float: left;
    padding: 10px;
}

/* RODAPÉ */
footer {
    border-top: #838080 solid 2px;
    clear: both;
    padding: 20px;
    text-align: center;
}


.footer-esquerdo {
    float: left;
    width: 50%;
}